# 튜플
- 튜플 변경 가능하지 않는 데이터의 묶음.
- 튜플은 한번 만들어 지면 값을 변경할수 없다.

## 연산
- 문자, 리스트와 같은 시퀀스 자료형 이므로 슬라이싱, 인덱싱, 연결, 반복 연산을 갖는다.
- 기본형 :()

In [3]:
t = ()

In [4]:
t_1 = (1,2,3)

In [7]:
t_1[:-1]

(1, 2)

In [10]:
t_2=(1,1,2,2,2,3,3)

In [13]:
t_2.count(3)

2

In [14]:
t_3 = 3,4,5,6

In [15]:
t_3

(3, 4, 5, 6)

In [16]:
t_3?

Type:        tuple
String form: (3, 4, 5, 6)
Length:      4
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [17]:
l_1 = [1,2,3]

In [18]:
l_1?

Type:        list
String form: [1, 2, 3]
Length:      3
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [20]:
t_1 *2

(1, 2, 3, 1, 2, 3)

In [22]:
t_1 + ('aaa','bbb')

(1, 2, 3, 'aaa', 'bbb')

In [23]:
t_1

(1, 2, 3)

In [24]:
t_2 = t_1 + ('aaa','bbb')

In [25]:
t_2

(1, 2, 3, 'aaa', 'bbb')

- 튜플을 이용해 좌변과 우변에 복수개의 데이터를 치환할수 있다.

In [26]:
x,y,z = 3,4,5

In [27]:
x

3

In [28]:
y

4

In [29]:
z

5

In [32]:
(x_1,y_1,z_1) = (3,4,5)

In [34]:
y_1

4

In [35]:
[x_2,y_2,z_2] = [3,4,5]

In [36]:
x_2

3

In [37]:
(x_3,y_3),(z_3,h_3) = (11,21),(12,22)

In [38]:
x_3

11

In [39]:
y_3

21

# 패킹과 언패킹
- 패킹 : 한 데이터에 여러개의 데이터를 넣는것
- 언패킹 : 한 데이터에서 데이터를 각각 꺼내 오는것

In [40]:
t = 1,2,'hello'

In [42]:
t #패킹

(1, 2, 'hello')

In [43]:
x,y,z = t

In [44]:
x

1

In [45]:
y

2

In [46]:
z

'hello'

- 확장된 언패킹 : *a 나머지 전부를 언패킹 해준다.

In [53]:
T = 1,2,3,4,5

In [57]:
a,*b,c = T

In [58]:
a

1

In [59]:
b

[2, 3, 4]

In [60]:
c

5

In [61]:
T = 1,2,3,4,5

In [62]:
a,*b = T

In [63]:
b

[2, 3, 4, 5]

In [64]:
*a_1,b_1 = T

In [70]:
a_1

[1, 2, 3, 4]

# 리스트와의 차이점
- 변경 불가능한 시퀀스 자료형
- list(), tuple() 두개의 내장 함수를 통해서 상호 변환이 가능하다.

In [72]:
type(t_1)

tuple

In [75]:
l_1 = list(t_1)

In [78]:
tuple(l_1)

(1, 2, 3)

In [80]:
t_2 = l_1

In [81]:
t_2

[1, 2, 3]

In [84]:
id(l_1)

140120190730368

In [85]:
l_1.append('a')

In [87]:
id(l_1)

140120190730368

In [88]:
# https://ledgku.tistory.com/54

In [89]:
x=1

In [90]:
id(x)

94060404792640

In [91]:
y=1

In [92]:
id(y)

94060404792640

In [93]:
#y += 3
y = y + 3

In [94]:
id(y)

94060404792736

In [95]:
x = 'hello'

In [96]:
y=x

In [97]:
id(x)

140120190440816

In [98]:
id(y)

140120190440816

In [99]:
y += 'world'

In [100]:
id(y)

140120190751792

In [101]:
y

'helloworld'

In [102]:
x=(1,2)

In [107]:
y=x

In [108]:
id(x)

140120190796736

In [109]:
id(y)

140120190796736

In [111]:
y +=(3,)

In [114]:
id(x)

140120190796736

In [115]:
id(y)

140120190721088

- list

In [128]:
x =[1,2,3]

In [129]:
y = x

In [130]:
id(x)

140120190512256

In [131]:
id(y)

140120190512256

In [133]:
y.append(3)

In [136]:
id(y)

140120190512256

In [137]:
id(x)

140120190512256

# 딕셔너리
- 사전
- 기본형 {key_1:value_1, key_2:value_2, ...}
- 시퀀스 자료형이 아니다.

In [138]:
member = {1:"A", 2:"B", 3:"C", 4:"D"}

In [139]:
member?

Type:        dict
String form: {1: 'A', 2: 'B', 3: 'C', 4: 'D'}
Length:      4
Docstring:
dict() -> new empty dictionary
dict(mapping) -> new dictionary initialized from a mapping object's
    (key, value) pairs
dict(iterable) -> new dictionary initialized as if via:
    d = {}
    for k, v in iterable:
        d[k] = v
dict(**kwargs) -> new dictionary initialized with the name=value pairs
    in the keyword argument list.  For example:  dict(one=1, two=2)

In [142]:
member[2]

'B'

In [143]:
member_2 = {11:"A", 22:"B", 33:"C", 44:"D"}

In [145]:
member_2[22]

'B'

In [149]:
member_2 = {11:"A", 22:"B", 22:"C", 44:"D"}

In [150]:
member_2

{11: 'A', 22: 'C', 44: 'D'}

# 사전의 원소
- key : hashable 이고 변경 불가능한 자료형 (문자 숫자 튜플 가능 / 리스트 딕셔너리 불가)
- value : 임의의 객체 가능

In [154]:
dic_1 = {[1]:'1',[2]:'2'}

TypeError: unhashable type: 'list'

In [155]:
dic_2 = {0:print, 1:range}

In [156]:
dic_2[0]("hello world")

hello world

In [158]:
dic_2[1](10)

range(0, 10)

In [159]:
type(range(10))

range