# 파이썬 시작 헬로 월드!!

In [1]:
print('Hello World!')

Hello World!

In [3]:
a = 3
b = 4 
print(a + b) 
print(a * b)
print(a / b)

7
12
0.75

In [4]:
a = 3
b = 2
print(a ** b)

9

In [5]:
print(7 / 4)
print(7 // 4)

1.75
1

In [6]:
print(7 % 3)
print(3 % 7)

1
3

In [7]:
print("1")
print('2')
print("""3""")
print('''4''')

1
2
3
4

In [9]:
food = "집가고 싶어요"
print(food)

집가고 싶어요

In [11]:
food = 'Python's favorite food is perl'
print(food)

SyntaxError: invalid syntax (<ipython-input-11-6b85d57f5856>, line 1)

In [12]:
food = "'Python's favorite food is perl"
print(food)

'Python's favorite food is perl

In [14]:
food = '"Python is very easy." he says.'
print(food)

"Python is very easy." he says.

In [15]:
multiline = '''
오늘점심은
김치돼지찜
을먹었습당
'''

print(multiline)

오늘점심은
김치돼지찜
을먹었습당

In [18]:
c1 = "파이썬"
c2 = "재미이쒀"
print(c1 + " " + c2)

파이썬 재미이쒀

In [19]:
a = "kimch"
print(a * 2)

kimchkimch

In [20]:
print("=" * 50)
print("MY Program")
print("=" * 50)

==================================================
MY Program
==================================================

In [22]:
a = "123456789"
len(a)

9

In [23]:
a = "12345"
print(a[2])

3

In [24]:
a = "12345"
print(a[-2])

4

In [28]:
a = "Life is too short"
b = a[0] + a[1] + a[2] + a[3]
print(b)
a[0:3]

Life

'Lif'

In [32]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]
date + " "+ weather

'20010331 Rainy'

In [36]:
a = "Pithon"
a[2:]
a[:1] + 'y' + a[2:]

'Python'

In [37]:
"I EAT %d apples" % 3

'I EAT 3 apples'

In [38]:
"I EAT %s APPLES" % "five"

'I EAT five APPLES'

In [40]:
number =3 
"I EAT %d APPLES" % number

'I EAT 3 APPLES'

In [41]:
number = 10 
day = "tree"
"I eat %d apples. so I was sick for %s days" % (number, day)

'I eat 10 apples. so I was sick for tree days'

## 문자열 포멧 코드

    코드 	설명
    %s 	문자열(String)
    %c 	문자 1개(character)
    %d 	정수(Integer)
    %f 	부동소수(floating-point)
    %o 	8진수
    %x 	16진수
    %% 	Literal % (문자 % 자체)

In [46]:
appleNums = 10
"I have %s apples" % appleNums

'I have 10 apples'

In [47]:
"%10s" % 'hi'

'        hi'

In [48]:
"%-10sjane." % 'hi'

'hi        jane.'

## format 함수를 사용한 포매팅

In [49]:
"I eat {0} apples" .format(3)

'I eat 3 apples'

In [50]:
number = 3
"I EAT {0} APPLES" .format(number)

'I EAT 3 APPLES'

In [51]:
num = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days" .format(num, day)

'I ate 10 apples. so I was sick for three days'

In [53]:
"I ate {0} apples. so I was sick for {day} days" .format(10, day = 3)

'I ate 10 apples. so I was sick for 3 days'

### 왼쪽정렬
:<10 표현식을 사용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞출 수 있다.

In [58]:
 "{0:<10}".format("hi")

'hi        '

### 오른쪽 정렬
오른쪽 정렬은 :< 대신 :>을 사용하면 된다. 화살표 방향을 생각하면 어느 쪽으로 정렬되는지 바로 알 수 있을 것이다.

In [59]:
"{0:>10}".format("hi")

'        hi'

### 가운데 정렬
:^ 기호를 사용하면 가운데 정렬도 가능하다.

In [60]:
"{0:^10}".format("hi")

'    hi    '

### 공백 채우기 
정렬할 때 공백 문자 대신에 지정한 문자 값으로 채워 넣는 것도 가능하다. 채워 넣을 문자 값은 정렬 문자 <, >, ^ 바로 앞에 넣어야 한다. 위 예에서 첫 번째 예제는 가운데(^)로 정렬하고 빈 공간을 = 문자로 채웠고, 두 번째 예제는 왼쪽(<)으로 정렬하고 빈 공간을 ! 문자로 채웠다.

In [66]:
"{0:=^10}".format("hi")

'====hi===='

In [67]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [68]:
>>> y = 3.42134234
>>> "{0:0.4f}".format(y)

'3.4213'

In [69]:
>>> "{0:10.4f}".format(y)

'    3.4213'

In [70]:
>>> "{{ and }}".format()

'{ and }'

### f 문자열 포매팅 
문자열 앞에 f를 붙이면 f문자열 포매팅 기능 사용 가능

In [74]:
name = '홍길동'
age = 30 
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [75]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [76]:
>>> d = {'name':'홍길동', 'age':30}
>>> f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [86]:
>>> f'{"hi":<10}'  # 왼쪽 정렬
>>> f'{"hi":>10}'  # 오른쪽 정렬
>>> f'{"hi":^10}'  # 가운데 정렬

'    hi    '

In [ ]:
>>> f'{"hi":=^10}'  # 가운데 정렬하고 '=' 문자로 공백 채우기
>>> f'{"hi":!<10}'  # 왼쪽 정렬하고 '!' 문자로 공백 채우기

In [87]:
>>> y = 3.42134234
>>> f'{y:0.4f}'  # 소수점 4자리까지만 표현

'3.4213'

In [88]:
>>> f'{y:10.4f}'  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

In [89]:
>>> f'{{ and }}'

'{ and }'

### 문자 개수 세기 (count)

In [90]:
a = 'hobby'
a.count('b')

2

In [91]:
a = "Python is the best choice"
a.find('b')

14

찾는 문자나 문자열이 존재하지 않을시 -1 반환

In [94]:
a = "Python is the best choice"
a.find('k')

-1

In [95]:
a = "Life is too short"
a.index('t')

8

### 문자열 삽입

In [97]:
 ",".join('abcd')

'a,b,c,d'

In [98]:
>>> ",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

### 대문자 소문자 바꾸기

In [100]:
a = "hi"
a.upper()

'HI'

In [101]:
a = "HI"
a.lower()

'hi'

### 공백 지우기

In [102]:
a = " hi "
a.strip()

'hi'

### 문자열 바꾸기(replace)

In [103]:
>>> a = "Life is too short"
>>> a.replace("Life", "Your leg")

'Your leg is too short'

### 문자열 나누기(split)

In [106]:
>>> a = "Life is too short"

>>> a.split()

['Life', 'is', 'too', 'short']

In [107]:

>>> b = "a:b:c:d"
>>> b.split(':')

['a', 'b', 'c', 'd']

### ㅁㄴㅇㅁㄴㅇ